// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Font-Awesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

.pointer {
  cursor: pointer;
}

.black-bkg {
  background-color: black;
  background: rgba(0, 0, 0, 0.5);
}

@import url('vue-multiselect/dist/vue-multiselect.min.css');
